<table class="profile" summary=profile information" border = "1">
  <tr>
    <td> Name <%= @specie.Specie_Name %> </td>
      <td> Sex <%= @specie.Sex %> </td>
</tr>
<tr>
    <td> Location <%= @specie.Location %> </td>
      <td> County <%= @specie.County %> </td>
</tr>
<tr>
    <td> Origin <%= @specie.Origin %> </td>
      <td>Quantity <%= @specie.Quantity %> </td>
</tr>
<tr>
    <td> Observer <%= @specie.Observer %> </td>
      <td>Record <%= @specie.Record_type %> </td>
</tr>
<tr>
    <td> Reference <%= @specie.Reference %> </td>
      <td>Grid <%= @specie.Grid_reference %> </td>
</tr>
<tr>
    <td> Start <%= @specie.Start_date %> </td>
      <td>End <%= @specie.End_date %> </td>
</tr>
<tr>
    <td> Determiner <%= @specie.Determiner %> </td>
      <td>Comment <%= @specie.Comment %> </td>
</tr>
</table>
