     <% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  

    <h1> WELCOME TO SBIC </h1>
    <p style="text-align:justify"> Welcome to the website of the Surrey Biodiversity Infromation Centre, one of many local record centres around the UK. We collect, manage and disseminate wildlife data, providing an information service for the whole of Surrey; this includes the counties of East and West Surrey and the Town of Guildford.Our vision is for a living landscape in surrey that is rich in wildlife and valued by all. 
Latest Record Centre News & Commentary <br />
<br />
Mistletoe
<br />
<%= image_tag("homelogo.png", :alt => "SIBC", :class => "round") %> <br /> </br>
</p>
<br />

    </p>
 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
